@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(/font.woff) format('woff');
}

#container {
	font-family: 'Audiowide', cursive;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 130%;
}
header{
	padding:20px;
	text-shadow: 2px 2px  5px #fff;
}
canvas{
	box-shadow: 0px 10px 40px rgba(#fff, 0.3);
}
body { background: #0f3d54 url(/images/bg.jpg) repeat-x center 0; }